<configuration>
 <appSettings>

  <!-- 
        portal.config settings ...                        
  -->

  <!-- 
        add this section to load additional javascript (all maps) 
   -->

  <section name="map:_all">
    <add key="add-css" value="https://unpkg.com/maplibre-gl@2.2.1/dist/maplibre-gl.css" />   <!-- optional -->
    <add key="add-js" value="https://unpkg.com/maplibre-gl@2.2.1/dist/maplibre-gl.js,https://unpkg.com/@maplibre/maplibre-gl-leaflet@0.0.17/leaflet-maplibre-gl.js,https://my-server/my-vector-tiles.js" />
  </section> 
  
 </appSettings>
</configuration>