<configuration>
 <appSettings>

  <!-- 
        portal.config settings ...                        
  -->

  <!-- 
        add this section to load additional javascript (all maps) 
   -->

  <section name="map:_all">
    <add key="add-css" value="" /> 
	<add key="add-js" value="https://api.tiles.mapbox.com/mapbox-gl-js/v1.2.0/mapbox-gl.js,https://rawgit.com/mapbox/mapbox-gl-leaflet/master/leaflet-mapbox-gl.js,https://my-server/my-vector-tiles.js" />
  </section> 
  
 </appSettings>
</configuration>