<configuration>
 <appSettings>

  <!-- 
        portal.config settings ...                        
  -->

  <!-- 
        add this section to load additional javascript (all maps) 
   -->

  <section name="map:_all">
    <add key="add-css" value="" /> 
	<add key="add-js" value="https://unpkg.com/esri-leaflet@3.0.8/dist/esri-leaflet.js,https://unpkg.com/esri-leaflet-vector@4.0.0/dist/esri-leaflet-vector.js,https://my-server/my-vector-tiles.js" />
  </section> 
  
 </appSettings>
</configuration>